body {
    background: url("./resources/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    color: aliceblue;
    box-shadow: 0 5px 6px -1px rgba(8, 8, 8, 0.81);
}

#header h1 {
    font-family: 'Monoton', cursive;
    font-weight: 300;
    font-size: 3.5em;
    padding-top: 1.4rem;
}

#header h5 {
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    border-left: #FFFFFF solid 2px;
    float: right;
}

#mainMenu {
    align-self: center;
    margin-top: 1em;
    align-content: center;
}

button, button:active, button:focus {
    outline: none;
    box-shadow: none !important;
    border: 0 solid #ccc !important;
}

button {
    background: transparent;
    border: none !important;
}

#welcome_register input{
    border: none;
}

button :hover {
    transform: translateY(-10px);
    transition-duration: 1s;
}

#gameView {
    background: transparent !important;
}

#footer {
    margin-bottom: 0;
    background-color: #222222 !important;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footerContent {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background: transparent;
}

.navbar-dark {
    background-color: #222222 !important;
    margin-top: -1rem;
}

#registerView h2,
#settingsView h2,
#loginView h2 {
    /*background-color: rgb(34, 34, 34);*/
    color: #FFFFFF;
    margin-bottom: 5% !important;
    /*margin-top: 5% !important;*/
    /*margin-left: 35%;*/
}

#registerView img,
#settingsView img,
#loginView img {
    margin-top: 5%;
    margin-bottom: 5%;
    /*margin-right: 40%;*/
}

input, textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

#registerView input,
#settingsView input,
#loginView input {
    background-color: transparent;
    color: aliceblue;
    border: none !important;
    border-bottom: aliceblue solid 1px !important;
    border-radius: 0;
    margin-left: 15% !important;
    margin-bottom: 1% !important;
    margin-right: 15% !important;
    width: 70%;
    font-size: 1.1rem;
}

#registerView input::placeholder,
#settingsView input::placeholder,
#loginView input::placeholder {
    color: aliceblue;
}

#loginView button {
    background-color: #222222 !important;
    width: 40%;
    margin: 20px auto;
    display: block;
    border: none;
    border-radius: 90px;
}

#registerView button,
#settingsView button {
    background-color: #222222 !important;
    width: 40%;
    margin: 20px auto;
    display: block;
    border: none;
    border-radius: 90px;
}

#registerView button:hover,
#settingsView button:hover,
#loginView button:hover {
    background-color: rgba(34, 34, 34, 0.75) !important;
    color: aliceblue;
}

#registerView form,
#settingsView form,
#loginView form {
    text-align: center;
    background-color: rgba(34, 34, 34, 0.51);
    padding: 10px 0;
    color: aliceblue;
    font-size: 1.2em;
}

#registerView select,
#registerView select:active,
#registerView select:focus {
    outline: none;
    box-shadow: none !important;
    border: 0 solid #ccc !important;
    background-color: transparent;
    color: aliceblue;
    border-bottom: aliceblue solid 1px !important;
    border-radius: 0;
}

#registerView option {
    background-color: transparent !important;
    color: aliceblue !important;
}

#birthday,
#colors {
    margin: 0 13% !important;
    filter: grayscale(100%) !important;
}

#birthday .col,
#colors .col {
    padding: 0 2% 2%;
    margin-top: -3px;
}

#birthday select {
    /*margin-top: 0%;*/
    /*margin-right: 5%;*/
    /*margin-left: 5%;*/
    /*margin-bottom: 0%;*/
    padding: 6px 12px;
    text-align: center;
    filter: grayscale(100%) !important;
}

#birthday option {
    background-color: #222222 !important;
    border: 0 solid !important;
    box-shadow: none !important;
    filter: grayscale(100%) !important;
}

#mainMenu h5 {
    color: aliceblue;
}

#mainMenu h5:hover {
    transform: translateY(0);
}

#moreWrapper,
#wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 22% 22% 22% 22%;
    grid-gap: 0;
    background-color: transparent;
    color: #444;
    padding-left: 5%;
    padding-right: 5%;
    /*margin-bottom: -3em;*/
    /*margin-top: -1em;*/
}

.box {
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    justify-content: center;
    align-items: center;
}

#moreWrapper .box button,
#wrapper .box button {
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: transparent !important;
    font-size: 2rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

#moreWrapper .box .i,
#wrapper .box .i {
    display: flex;
    justify-content: center;
    align-items: center;
}

#moreWrapper .box button:hover{
    transform: translateY(0) !important;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    /*width: 100%; */
    /*height: 25px; */
    background: #d3d3d3 !important; /* Grey background */
    outline: none;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0;
    border-bottom: none !important;
}

.slider:hover {
    /*opacity: 1;*/
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #222222;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #222222;
    cursor: pointer;
}


